h1{
color: green;
}

.bl{
	color:blue;
	font-size:50px;
}

body{
font-family:gigi, times, serif;
font-size:1em;
margin:5% 15% 15% 10%;
}

.pe{
font-size:18pt;
color:blue;

}

p{
margin-top:15em;

}
ul{
	background-color:blue;
}
ul:hover li{
color:red;
text-decoration:block;
background-repeat:no-repeat;
display:block;
}
ul li {
display:none;
font-family:arial,serif;
}
.wiwi{
background-color:green;
}